# ignore .git and .gitignore files/folder
.git
.gitignore

# ignore all markdown files
*.md

# ignore build files
COMPONENT_NAME
COMPONENT_VERSION
RELEASE_FF_BRANCH
Makefile

# ignore results dir
results