# Directories
.go
.vscode
/build/_output
/cmd/manager/__debug_bin
build-harness
build-harness-extensions
vendor
/.DS_Store
/.project
/build-harness
/build-harness-extensions
/vendor

Dockerfile.tmp

results/**
!results/.gitkeep
results.xml

kubeconfig.yaml

resources/options.yaml
resources/install-config.yaml
resources/clusterdeploy.yaml

e2e-test/resources/options.yaml

.build-harness
.build-harness-bootstrap
.vscode
.test.sh
.idea
*.test

local.rc
.DS_Store

# override build harness vendoring
!vbh/.build-harness-vendorized
!vbh/build-harness
!vbh/build-harness-extensions

#observability-e2e-test.test
