# Directories
.go
.vscode
/build/_output
/cmd/manager/__debug_bin
vendor
/.DS_Store
/.project
/vendor
.idea

Dockerfile.tmp

results/**
!results/.gitkeep
results.xml
results*.xml
e2e-test.test

kubeconfig.yaml

resources

.vscode
.test.sh

local.rc
.DS_Store

pkg/tests/create_cluster/create_cluster.test
pkg/tests/create_cluster_bm/create_cluster_bm.test
pkg/tests/destroy_bm/destroy_bm.test
pkg/tests/detach_destroy/detach_destroy.test
pkg/tests/import_cluster/import_cluster.test
pkg/tests/metrics/metrics.test